/* 폰트 관련 */
@font-face {
    font-family: "SUIT Variable";
    font-weight: 770;
    src: url("./fonts/SUIT-Variable.woff2") format("woff2-variations");
}
@font-face {
    font-family: "SUIT Variable SemiBold";
    font-weight: 664;
    src: url("./fonts/SUIT-Variable.woff2") format("woff2-variations");
}
@font-face {
    font-family: "SUIT Variable Regular";
    font-weight: 400;
    src: url("./fonts/SUIT-Variable.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Shorai Sans";
    font-weight: 600;
    src: url("./fonts/ShoraiSansStdNVar.ttf") format("truetype-variations");
}
@font-face {
    font-family: "Shorai Sans SemiBold";
    font-weight: 500;
    src: url("./fonts/ShoraiSansStdNVar.ttf") format("truetype-variations");
}
@font-face {
    font-family: "Shorai Sans Regular";
    font-weight: 400;
    src: url("./fonts/ShoraiSansStdNVar.ttf") format("truetype-variations");
}

/* 폰트 크기 */
h1 {
    font-size: 64px;
    letter-spacing: -0.91px;
    line-height: 138%;
    font-family: "SUIT Variable", "Shorai Sans", Arial, Helvetica, sans-serif;
}
h2 {
    font-size: 40px;
    letter-spacing: -0.57px;
    line-height: 138%;
    font-family: "SUIT Variable", "Shorai Sans", Arial, Helvetica, sans-serif;
}
h3 {
    font-size: 32px;
    letter-spacing: -0.46px;
    line-height: 140%;
    font-family:
        "SUIT Variable SemiBold", "Shorai Sans SemiBold", Arial, Helvetica,
        sans-serif;
}
h4 {
    font-size: 24px;
    letter-spacing: -0.34px;
    line-height: 141%;
    font-family:
        "SUIT Variable SemiBold", "Shorai Sans SemiBold", Arial, Helvetica,
        sans-serif;
}
h5 {
    font-size: 20px;
    letter-spacing: -0.28px;
    line-height: 152%;
    font-family:
        "SUIT Variable SemiBold", "Shorai Sans SemiBold", Arial, Helvetica,
        sans-serif;
}
h6 {
    font-size: 18px;
    letter-spacing: -0.25px;
    line-height: 152%;
    font-family:
        "SUIT Variable SemiBold", "Shorai Sans SemiBold", Arial, Helvetica,
        sans-serif;
}
p,
li,
span,
a {
    font-size: 16px;
    letter-spacing: -0.22px;
    line-height: 160%;
    font-family:
        "SUIT Variable Regular", "Shorai Sans Regular", Arial, Helvetica,
        sans-serif;
}
p {
    /* 텍스트 색상 */
    color: #dadde5;
}
